<style>
.sheet dd {
  margin-left: 1em;
}
.global_map_arrow{
  margin-top: 30px;
}
.globalMapSelect{
  margin-top: 22px;
}
.submit-group {
  margin-top: 2em;
}
</style>

<% content_for :page_title do %>
  <%= @sheet.name %>
<% end %>

<% content_for :page_actions do %>
  <% if @sheet.active? or @sheet.ready? or @sheet.failed_processing? %>
    <div class="btn-group-vertical" role="group" aria-label="sheet actions">
      <%= button_link_to 'Process File', admin_process_sheet_path(@sheet.id), { class: "btn-default", icon: 'file', id: 'admin_new_sheet' } %>
      <%= button_link_to 'Import Products', admin_import_products_sheet_path(@sheet.id), { class: "btn-primary", icon: 'import', id: 'admin_import_products_sheet' } %>
    </div>
  <% end %>
<% end if can?(:create, Spree::Sheet) %>

<% if @sheet.processing? %>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">Processing</span>
  </div>
</div>

<h3>Processing...</h3>

<script>
(function() {
  var statusCheckInterval = window.setInterval(function(){
    fetch('<%= admin_sheet_status_url %>')
    .then(function(response) {
      return response.json()
    })
    .then(function(sheetStatus) {
      console.log(JSON.stringify(sheetStatus))
      if(sheetStatus.status !== 'processing'){
        window.clearInterval(statusCheckInterval)
        window.location.reload(false)
      }
    })
  }, 10000)
})()
</script>

<% else %>
<div class="row">
  <div class="col-md-4">
    <dl class="sheet">
      <dt>Status</dt>
      <dd><span class="label <%= @sheet.status_class %>"><%= @sheet.status %></span></dd>
      <dt>Created</dt>
      <dd><%= t @sheet.created_at %></dd>
      <dt>Updated</dt>
      <dd><%= t @sheet.updated_at %></dd>
      <% if @sheet.rows %>
      <dt>Rows</dt>
      <dd><%= number_with_delimiter(@sheet.rows, :delimiter => ',') %></dd>
      <% end %>
    </dl>

    <%= form_for @sheet, as: :spree_sheet, url: admin_update_sheet_path do |f| %>
      <div class="form-group">
        <%= f.label :header_row do %>
          Header Row Number
          <%= f.number_field :header_row, class: 'form-control', tabindex: 1, placeholder: 'Header Row Number' %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :group_column do %>
          Group Column Number
          <%= f.number_field :group_column, class: 'form-control', tabindex: 1, placeholder: 'Group Column Number' %>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.submit 'Update Header Row', class: 'btn btn-success', tabindex: 2, disabled: false, id: 'update_sheet' %>
      </div>
    <% end %>

  </div>

  <div class="col-md-8">
    <dl class="sheet">
      <% if @sheet.parsed_json_files.attached? %>
      <dt>Sheet Data:</dt>
        <% @sheet.parsed_json_files.each_with_index do |file, idx| %>
          <% item_count = @sheet.data["parsed_json_files"][file.filename.to_s.sub('_rows.json','')] rescue nil %>
          <dd><%= link_to "#{file.filename.to_s.sub('_rows.json','')} (#{item_count})", 
    Rails.application.routes.url_helpers.rails_blob_path(file) %>  </dd>
        <% end %>
      <% end %>
    </dl>
  </div>

</div>

<div class="row">
  <div class="col-md-6">

    <ul class="nav nav-pills">
      <li><h4>Global Mapping</h4></li>
      <% if Spree::Sheet.count > 1 %>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Load Global Mapping Preset</a></li>
          <li role="separator" class="divider"></li>
        </ul>
      </li>
      <% end %>
    </ul>

    <br/>

    <%= form_for @sheet, as: :spree_sheet, url: admin_sheet_global_map_patch_path, remote: true do |f| %>
      
      <div id="global_map_props">
        <% if @sheet.data and @sheet.data['global_map'] and !@sheet.data['global_map'].empty? %>
          <% @sheet.data['global_map'].each do |item| %>

            <%# TODO: pass @item local variable %>
            <%# render 'global_map' %>
            <div class="row">
              <div class="col-xs-6 col-sm-5">
                <%= item[1]["key"] rescue '' %>
                <%= "(property: #{item[1]["prop_key"]})" if item[1]["prop_key"] %>
                
              </div>
              <div class="col-xs-1 hidden-xs">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              </div>
              <div class="col-xs-6">
                <%= item[1]["dest"] rescue '' %>
              </div>
            </div>

          <% end %>
        <% end %>
        
        <%= render 'global_map' %>

      </div>

      <div class="form-group">
        <%= link_to admin_sheet_global_map_path(@sheet.id), remote: true, method: :get, class: 'btn btn-sm btn-default' do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Global Property
        <% end %>
      </div>

      <div class="form-group submit-group">
        <%= f.submit 'Save Global Mapping', class: 'btn btn-lg btn-success btn-block', tabindex: 3, disabled: false, id: 'submit_global_map' %>
      </div>
    <% end %>
    
  </div>


  <div class="col-md-6">
    <% if @sheet.data and @sheet.data['headers'] and !@sheet.data['headers'].empty? %>
   
      <ul class="nav nav-pills">
        <li><h4>Header Mapping</h4></li>
        <% if Spree::Sheet.count > 1 %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Load Header Mapping Preset</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <% end %>
      </ul>

      <br/>

      <%= form_for @sheet, as: :spree_sheet, url: admin_sheet_header_map_patch_path, remote: true do |f| %>
        <% @sheet.data['headers'].each_with_index do |header, idx| %>
          <%= render partial: 'header_map', locals: {sheet: @sheet, header: header, idx: idx} %>
        <% end %>

        <div class="form-group">
          <%= f.submit 'Save Header Mapping', class: 'btn btn-lg btn-success btn-block', tabindex: 3, disabled: false, id: 'submit_header_map' %>
        </div>
        
      <% end %>
    <% end %>
  </div>
</div>

<% unless @sheet.data["history"].blank? %>
<div class="row">
  <h3>History</h3>
  <% @sheet.data["history"].reverse.each do |entry| %>
    <div class="panel <%= entry["error"].blank? ? 'panel-default' : 'panel-danger' %>">
      <div class="panel-heading">
        <h3 class="panel-title"> <%= DateTime.strptime(entry["date"], '%Y-%m-%dT%H:%M:%S.%L%z').to_formatted_s(:long) rescue '' %></h3>
      </div>
      <div class="panel-body">
        <%= entry["success"] %>
        <%= entry["error"] %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<script>
var global_map_props = <%= Spree::Sheet.global_map_props.to_json.html_safe %>;

// (function() {
//   // var sheet_data = <%= @sheet.data.to_json.html_safe %>
//   // console.log(sheet_data)
//   // if(sheet_data && sheet_data.headers && sheet_data.headers.length){
//   //   var submit_new_sheet = document.getElementById('submit_new_sheet')
//   // }
// })()
</script>
<% end %>